<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <title>Add a new item</title>
</head>
<body>

  <div class= container>
    <h1>New Budget Entry</h1>

    <form action="/budget" method="POST">
       <input type="text" name="date" placeholder="Date"/><br>
       <input type="text" name="name" placeholder="Name" /><br>
       <input type="text" name="from" placeholder="From"/><br>
       <input type="number" name="amount" placeholder="Amount"/><br>

    <button>
      <input type="sumbit" value="Create Entry"/>
    </button>
    </form>

  </div>
</body>
</html>